body {
  background: linear-gradient(
    359deg,
    rgb(150, 192, 255) -17.7%,
    rgb(255, 180, 161) 101.5%
  );
  height: 100vh;
  margin: 0;
}

h1 {
  position: relative;
  margin-left: 10px;
  bottom: 45px;
  font-size: 35px;
}

select {
  background-color: #f7e7e3;
  border-color: #630b63;
  border-radius: 4px;
  display: flex;
  font-size: 16px;
  max-width: 40%;
  padding: 10px 120px 10px 10px;
  position: relative;
  bottom: 130px;
  left: 525px;
}

footer {
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  padding-top: 20px;
  text-align: center;
  position: relative;
  top: 30px;
}

.container {
  background-color: #f2ece1;
  border-radius: 10px;
  margin: 0 auto;
  max-height: 535px;
  max-width: 800px;
  padding: 30px;
  position: relative;
  top: 40px;
}

.rock-salt-regular {
  font-family: "Rock Salt", cursive;
  font-weight: 800;
  font-style: normal;
}

.big-shoulders {
  font-family: "Big Shoulders", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.world {
  font-size: 40px;
  padding-right: 8px;
  position: relative;
  left: 8px;
  top: 6px;
}

.city-container-one {
  background-color: #e3e7fc;
  border: 1px solid #630b63;
  border-radius: 4px;
  max-width: 40%;
  padding: 20px 0;
  position: relative;
  left: 40px;
  bottom: 70px;
  text-align: center;
}

.city-container-two {
  background-color: #e3e7fc;
  border: 1px solid #630b63;
  border-radius: 4px;
  max-width: 40%;
  padding: 20px 0;
  position: relative;
  left: 40px;
  bottom: 17px;
  text-align: center;
}

.city-container-three {
  background-color: #e3e7fc;
  border: 1px solid #630b63;
  border-radius: 4px;
  max-width: 40%;
  padding: 20px 0;
  position: relative;
  right: -440px;
  bottom: 392px;
  text-align: center;
}

.city-container-four {
  background-color: #e3e7fc;
  border: 1px solid #630b63;
  border-radius: 4px;
  max-width: 40%;
  padding: 20px 0;
  position: relative;
  right: -440px;
  bottom: 339px;
  text-align: center;
}

.location {
  font-size: 32px;
  font-weight: 500;
}

.date {
  font-size: 14px;
  font-weight: 400;
  opacity: 0.6;
}

.time {
  color: #630b63;
  font-size: 42px;
  font-weight: 700;
  padding: 5px;
}

.time small {
  font-size: 20px;
  line-height: 36px;
  vertical-align: middle;
}

.coder {
  color: blueviolet;
  font-family: monospace;
  font-size: 13px;
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
}
